<ion-modal-view ng-controller="AddContacts as vm">
  <ion-header-bar>
    <h1 class="title">Contact Search</h1>
  </ion-header-bar>
  <ion-content>
    <div class="bar item-input-inset bar-light">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input search-contacts type="search" placeholder="Search">
      </label>
    </div>

    <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
      <ion-item ng-repeat="contact in vm.contacts" class="item-text-wrap item-icon-right">
        <h5>{{contact.displayName}}</h5>
        <button class="button button-clear button-assertive icon ion ion-plus-circled" ng-click="vm.show_add_location_modal()"></button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
