<ion-view view-title="Detailed" class="detailed">
  <!-- <ion-content> -->
  <ion-nav-buttons side="secondary" >
    <a ng-show="vm.previous_index !== null" ng-click="vm.save_events()">
      <button class="icon ion-ios-checkmark-outline button button-clear button-outline"></button>
    </a>
  </ion-nav-buttons>
  <ion-content direction="xy" class="text-center">
  <!-- <ion-scroll zooming="true" direction="xy" style="width: 100%; height: 85%" class="has-header text-center"> -->
    <div ng-repeat="zone in vm.zone_list" class="text-center padding" style="">
      {{zone.name}}
      <div ng-init="vm.times(zone, $index)"></div>
      <div class="row">
        <div class="col">
          <div class="padding" ng-repeat="item in zone.data.item track by $index"
          ng-click="vm.choose_time(item.time, item, $index)" ng-class="{orange: item.class}">
            <h5 ng-bind-html="item.time"></h5>
          </div>
          <!-- <ion-item class="padding" ng-repeat="item in zone.data.item track by $index"
            ng-click="vm.choose_time(item.time, item, $index)" ng-class="{orange: item.class}">
              <h2 ng-bind-html="item.time"></h2>
          </ion-item> -->
        </div>
      </div>
    </div>

  <!-- </ion-scroll> -->
  </ion-content>
</ion-view>
