<ion-modal-view class="block" ng-controller="AddLocation as vm">
  <ion-header-bar>
    <h1 class="title">Add Location</h1>
    <button class="button button-clear button-dark" ng-click="vm.hide_add_location_modal()">Cancel</button>
  </ion-header-bar>

  <ion-content >
    <div class="bar item-input-inset bar-light">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input on-search type="search" placeholder="Search">
      </label>
    </div>

    <ion-list>
      <ion-item ng-repeat="zone in vm.zone" class="item-text-wrap item-icon-right">
        <span ng-bind-html="zone"></span>
        <button class="button button-clear button-assertive icon ion ion-plus-circled" ng-click="vm.add_location(zone)"></button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
