<ion-modal-view class="block" >
  <ion-header-bar>
    <h1 class="title">Contact Search</h1>
  </ion-header-bar>
  <ion-content ng-controller="AddContacts as vm">
    <div class="bar item-input-inset bar-light">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input search-contacts type="search" placeholder="Search">
      </label>
    </div>

    <!-- {{vm.contacts_ios}} jories -->
    <ion-list>
      <ion-item ng-repeat="contact in vm.contacts" class="item-text-wrap item-icon-right">
        <h5>{{contact.display_name}}</h5>
        <button class="button button-clear button-assertive icon ion ion-plus-circled" ng-click="vm.add_participant(contact)"></button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
