<ion-popover-view class="block">
  <ion-header-bar>
    <h1 class="title">Search Timezone</h1>
  </ion-header-bar>
  <ion-content>
    <div class="bar item-input-inset bar-light">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input on-search type="search" placeholder="Search">
      </label>
    </div>

    <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
      <ion-item ng-repeat="zone in data | filter: query" class="item-text-wrap item-icon-right">
        <span ng-bind-html="zone"></span>
        <button class="button button-clear button-assertive icon ion ion-plus-circled" ng-click="vm.add_zone(zone)"></button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-popover-view>
