<ion-view view-title="Time Detail">
  <ion-nav-buttons side="secondary">
    <button class="icon ion-edit button button-small button-clear"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list class="list-inset">
      <ion-item class="item-text-wrap" ng-repeat="item in timedata | filter: { _id: timecard }">
        <h3 class="subheader">Title:</h3>
        <h2 class="header">{{item.title}}</h2>
        <br/>
        <h3>Time: </h3>
        <ul ng-repeat="locationTime in item.timeArray">
          <li>Location {{$index + 1}} : {{locationTime.localename}}, {{locationTime.localetime}}</li>
        </ul>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
