<ion-view view-title="Time">
  <ion-nav-buttons side="primary">
    <button class="icon ion-gear-a button button-clear button-outline"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="secondary">
    <a ui-sref="tabs.timezone">
      <button class="icon ion-plus button button-clear button-outline">
      </button>
    </a>
  </ion-nav-buttons>

  <ion-content class="has-header padding">
    <ion-list class="list-inset padding-horizontal padding-bottom" ng-repeat="item in vm.timedata" ng-click="vm.displayDetail(item._id)">
      <ion-item class="item-text-wrap ">
        <h1 class="title icon ion-calendar"> {{item.title}}</h1>
        <h2 class="title card-header-upcomming"> {{item.urgency}}</h2>
        <br/>
        <h3 class="icon ion-location"> My Location: </h3>
        <p ng-repeat="myLoc in item.timeArray" ng-show="$index == 0">{{myLoc.localename}}; {{myLoc.localedate}}, {{myLoc.localetime}}</p>
        <br/>
        <h3 class="icon ion-person-stalker"> Participants: </h3>
        <ion-list ng-repeat="locationTime in item.timeArray" ng-if="$index > 0">
          <ion-item class="item-thumbnail-left no-border">
            <img src="http://www.placehold.it/50x50" alt="contact-photo">
            <p>
              Person
            </p>
            <p class="icon ion-location">
              {{locationTime.localename}}
            </p>
            <p class="icon ion-clock">
              {{locationTime.localedate}}, {{locationTime.localetime}}
            </p>
          </ion-item>
        </ion-list>
        <ion-option-button class="button-clear button-assertive" ng-click="vm.deleteItem(item)">
          Delete Meeting? <i class="ion-checkmark-circled padding-left"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
