<ion-view view-title="Time">
  <ion-nav-buttons side="primary">
    <button class="icon ion-gear-a button button-clear button-outline"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="secondary">
    <a ui-sref="tabs.timezone">
      <button class="icon ion-plus button button-clear button-outline">
      </button>
    </a>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <div class="list card" ng-repeat="item in timedata" ng-click="displayDetail(item._id)">
      <div class="item item-divider item-light">
        <h3 class="title card-header-upcomming"><i class="ionic ion-clock"> {{item.urgency}}</i></h3>
      </div>
      <div class="item item-body no-padding">
        <div class="list list-inset no-top-padding no-margin">
          <div class="item no-top-padding item-text-wrap">
            <h1>Title: {{item.title}}</h1>
            <h3>My Location: </h3>
            <p ng-repeat="myLoc in item.timeArray" ng-show="$index == 0">{{myLoc.localename}}; {{myLoc.localedate}}, {{myLoc.localetime}}</p>
            <h3>Time: </h3>
            <ul ng-repeat="locationTime in item.timeArray">
              <li>Location {{$index + 1}} : {{locationTime.localename}}; {{locationTime.localedate}}, {{locationTime.localetime}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
