/* Empty. Add your own CSS if you like */

/* colors:
#2B4C7D : Blue
#6E6662 : DGray
#1E1E1F : Black
#2A363B : DBlue
#EFEFEF : Gray
#648F00 : Green
*/
.no-top-padding {
  padding-top: 0px;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px;
}

.no-border {
  border: 0px ;
}

.card-header-text {
  font-size: 16 ;
}

.orange {
  background-color: #11c1f3;
}

.orange > h5 {
  color: white;
}

/*Detailed View*/
.detailed > ion-content > .scroll {
  display: inline-flex;
}

/* Custom app-wide colors - Override the defaults of ionic without doing sass stuff */
.bar.bar-positive {
  border: 0px;
  background-color: #2B4C7D !important;
}

.button-outline.button-positive {
  color: #2B4C7D !important;
  border-color: #2B4C7D !important;
}

 .button-clear.button-positive {
   color: #2B4C7D !important;
 }

.app-background {
  background-color: #EFEFEF !important;
}

.item-divider {
  background-color: #EFEFEF !important;
}

ion-item  {
  background-color: #FFFEFE !important;
}

ion-item div.item-content {
  padding-right: 16px !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  padding-left: 16px !important;

}

.planner-icon {
  /*color: #A73000 !important;*/
  /*color: #646C6C !important;*/
  color: #2A363B !important;
}

.planner_form-text-xl {
  font-size: 2rem;
}

.planner_form-text-l {
  font-size: 1.3rem;
}

h3,
h4,
span.input-label {
  color: #1E1E1F !important;
}

/* Timezone style overrides */
div.list label.item-stacked-label input[type="text"] {
  color: #6E6662 !important;
  font-size: 2rem;
  height: 4rem;
}

div.list ion-item div.item-content div label input[type="text"] {
  color: #6E6662 !important;
}

#no-data {
    display:flex;
    align-items: center;
    justify-content: center;
}

#no-data h1 {
  color: #6E6662;
}
