/* Empty. Add your own CSS if you like */
.no-top-padding {
  padding-top: 0px;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px;
}

.no-border {
  border: 0px ;
}

.card-header-text {
  font-size: 16 ;
}

.card-header-passed {
  color: #EF473A !important;
}

.card-header-upcomming {
  color: #387EF5 !important ;
}

.orange {
  background-color: red;
}

/*Detailed View*/
.detailed > ion-content > .scroll {
  display: inline-flex;
}

/* Custom app-wide colors */
.bar.bar-assertive, .tabs-assertive > .tabs {
  /*background-color: #D53D01 !important;*/
  border: 0px;
  background-color: #151C1D !important;
}

.app-background {
  background-color: #FAFAFA !important;
}

.planner-icon {
  /*color: #A73000 !important;*/
  /*color: #646C6C !important;*/
  color: #313839 !important;
}

.planner_form-text-xl {
  font-size: 2rem;
}

.planner_form-text-l {
  font-size: 1.5rem;
}
