/* Empty. Add your own CSS if you like */
.no-top-padding {
  padding-top: 0px;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px;
}

.no-border {
  border: 0px ;
}

.card-header-text {
  font-size: 16 ;
}

.orange {
  background-color: #11c1f3;
}

.orange > h5 {
  color: white;
}

/*Detailed View*/
.detailed > ion-content > .scroll {
  display: inline-flex;
}

/* Custom app-wide colors */
.bar.bar-assertive, .tabs-assertive > .tabs {
  /*background-color: #D53D01 !important;*/
  border: 0px;
  background-color: #22313F !important;
}

.app-background {
  background-color: #D2D7D3 !important;
}

.item-divider {
  background-color: #ECECEC !important;
}

ion-item div.item-content h4 {
  color: #2C3E50 !important;
}

ion-item  {
  background-color: #FFFEFE !important;
}

ion-item div.item-content {
  padding-right: 16px !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  padding-left: 16px !important;

}

.planner-icon {
  /*color: #A73000 !important;*/
  /*color: #646C6C !important;*/
  color: #313839 !important;
}

.planner_form-text-xl {
  font-size: 2rem;
}

.planner_form-text-l {
  font-size: 1.5rem;
}
